.charting0 {
    background-color: #08589e;
}
.charting1 {
    background-color: #2b8cbe;
}
.charting2 {
    background-color: #4eb3d3;
}
.charting3 {
    background-color: #7bccc4;
}
.charting4 {
    background-color: #a8ddb5;
}
.charting5 {
    background-color: #ccebc5;
}
.charting6 {
    background-color: #f0f9e8;
}
