
.navbar-right>li {
    float: left;
}

.navbar-left>li {
    float: right;
}

.navbar-nav {
    margin-bottom: 0 !important;
}

.navbar-right .dropdown-menu {
    left: auto !important;
    right: 0 !important;
}

@media (max-width: 768px) {
    /* need to mimic bootstrap's dropdown-menu styles to overcome the styles for navbar collapse which affects dropdown menus */
    .navbar-nav .open .dropdown-menu {
        color: #333;
        position: absolute;
        left: 0;
        z-index: 1000;
        float: left;
        font-size: 14px;
        text-align: left;
        list-style: none;
        background-color: #fff;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        border: 1px solid #ccc;
        -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
        box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
        margin-top: 2px;
    }
}

/* mimics bootstrap's badge class */
.badge-xs {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #BE3A34;
    background-image: none;
    background-origin: padding-box;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto;
    border-radius: 64px;
    box-sizing: border-box;
    color: #fff;
    display: block;
    max-width: 50px;
    min-width: 10px;
    overflow: hidden;
    padding: 3px;
    font-size: 9px;
    font-weight: bold;
    position: absolute;
    right: 0.8rem;
    text-align: center;
    text-overflow: ellipsis;
    top: 0.4rem;
}

/* center alerts appearing in the top navbar */
.navbar.navbar-fixed-top .alert {
        position: absolute;
        width: 75%;
        left: 12.5%;
        margin-top: 3px;
        padding: 10px 15px;
        z-index: 1000;

        -moz-box-shadow: 0px 6px 12px rgba(0, 0, 0, .175);
        -webkit-box-shadow: 0px 6px 12px rgba(0, 0, 0, .175);
        box-shadow: 0px 6px 12px rgba(0, 0, 0, .175);
}

.navbar.navbar-fixed-top .alert-dismissable .close {
    position: relative;
    top: -2px;
    right: 0px;
    color: inherit;
}
