
<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Column 1</th>
                <th>Column 2</th>
                <th>Column 3</th>
                <th>Links</th>
                <th width="20">Actions</th>
            </tr>
        </thead>
        <thead>
            <tr>
                <td>Column 1</td>
                <td>Column 2</th>
                <td>Column 3</td>
                <td><a href="#nogo"> Link </a></th>
                <td>
                    <div class="dropdown text-nowrap">
                        <a class="dropdown-toggle" type="button" id="tableActionsDropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Actions
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="tableActionsDropdownMenu">
                            <li><a href="#">Action 1</a></li>
                            <li><a href="#">Action 2</a></li>
                            <li><a href="#">Action 3</a></li>
                            <li><a href="#">Action 4</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Column 1</td>
                <td>Column 2</th>
                <td>Column 3</td>
                <td><a href="#nogo"> Link </a></th>
                <td>
                    <div class="dropdown text-nowrap">
                        <a class="dropdown-toggle" type="button" id="tableActionsDropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Actions
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="tableActionsDropdownMenu">
                            <li><a href="#">Action 1</a></li>
                            <li><a href="#">Action 2</a></li>
                            <li><a href="#">Action 3</a></li>
                            <li><a href="#">Action 4</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
