<br/>
<div class="row">
    <div class="col-xs-4">
        <div class="panel panel-default">
            <div class="ribbon left"><span> On The Left</span></div>
            <div class="panel-heading">Panel Title</div>
            <div class="panel-body"> Body </div>
        </div>
    </div>
        <div class="col-xs-4">
            <div class="panel panel-default">
                <div class="ribbon"><span>On The Right</span></div>
                <div class="panel-heading">Panel Title</div>
                <div class="panel-body"> Body </div>
            </div>
    </div>
</div>
