<div class="row">
    <div class="col-xs-4">
        <p><strong>General</strong></p>
        <p><small>Actions</small></p>

        <ul class="fa-ul list-unstyled">
            <li> <span class="fa-li"><i class="fas fa-fw fa-plus-circle"></i> </span> Add / New</li>
            <li> <span class="fa-li"><i class="fas fa-fw fa-check"></i> </span> Apply</li>
            <li> <span class="fa-li"><i class="fas fa-fw fa-paperclip"></i> </span> Attach / Attachment</li>
            <li> <span class="fa-li"><i class="fas fa-fw fa-times"></i> </span> Cancel </li>
            <li> <span class="fa-li"><i class="fas fa-fw fa-minus-square"></i> </span> Collapse </li>
            <li> <span class="fa-li"><i class="fas fa-fw fa-comment"></i> </span> Comment</li>
            <li> <span class="fa-li"><i class="fas fa-fw fa-tachometer"></i> </span> Dashboard</li>
            <li> <span class="fa-li"><i class="fas fa-fw fa-trash-alt"></i> </span> Delete</li>
            <li> <span class="fa-li"><i class="fas fa-fw fa-ban"></i> </span> Disabled</li>
            <li> <span class="fa-li"><i class="fas fa-fw fa-cloud-download"></i> </span> Download</li>
            <li> <span class="fa-li"><i class="fas fa-fw fa-download"></i> </span> Download / Export</li>
            <li> <span class="fa-li"><i class="fas fa-fw fa-pencil"></i> </span> Edit</li>
            <li> <span class="fa-li"><i class="fas fa-fw fa-plus-square"></i> </span> Expand </li>
            <li> <span class="fa-li"><i class="fas fa-fw fa-filter"></i> </span> Filter</li>
            <li> <span class="fa-li"><i class="fas fa-fw fa-file"></i> </span> File</li>
            <li> <span class="fa-li"><i class="fas fa-fw fa-flag"></i> </span> Flag</li>
            <li> <span class="fa-li"><i class="fas fa-fw fa-share"></i> </span> Forward / Redirect</li>
            <li> <span class="fa-li"><i class="fas fa-fw fa-question-circle"></i> </span> Help</li>
            <li> <span class="fa-li"><i class="fas fa-fw fa-info-circle"></i> </span> Info</li>
            <li> <span class="fa-li"><i class="fas fa-fw fa-cloud-upload"></i> </span> Upload</li>
            <li> <span class="fa-li"><i class="fas fa-fw fa-upload"></i> </span> Upload</li>
            <li> <span class="fa-li"><i class="fas fa-fw fa-print"></i> </span> Print</li>
            <li> <span class="fa-li"><i class="fas fa-fw fa-minus-circle"></i> </span> Remove</li>
            <li> <span class="fa-li"><i class="fas fa-fw fa-reply"></i> </span> Reply / Undo </li>
            <li> <span class="fa-li"><i class="fas fa-fw fa-angle-down"></i> </span> Move Down </li>
            <li> <span class="fa-li"><i class="fas fa-fw fa-angle-double-down"></i> </span> Move Down Multiple </li>
            <li> <span class="fa-li"><i class="fas fa-fw fa-angle-left "></i> </span> Move Left</li>
            <li> <span class="fa-li"><i class="fas fa-fw fa-angle-double-left "></i> </span> Move Left Multiple</li>
            <li> <span class="fa-li"><i class="fas fa-fw fa-angle-right "></i> </span> Move Right</li>
            <li> <span class="fa-li"><i class="fas fa-fw fa-angle-double-right "></i> </span> Move Right Multiple</li>
            <li> <span class="fa-li"><i class="fas fa-fw fa-angle-up"></i> </span> Move Up </li>
            <li> <span class="fa-li"><i class="fas fa-fw fa-angle-double-up"></i> </span> Move Up Multiple </li>
            <li> <span class="fa-li"><i class="fas fa-fw fa-caret-down"></i> </span> Pull Down </li>
            <li> <span class="fa-li"><i class="fas fa-fw fa-caret-up"></i> </span> Pull Up </li>
            <li> <span class="fa-li"><i class="fas fa-fw fa-book"></i> </span> Resource Center </li>
            <li> <span class="fa-li"><i class="fas fa-fw fa-save"></i> </span> Save</li>
            <li> <span class="fa-li"><i class="fas fa-fw fa-search"></i> </span> Search</li>
            <li> <span class="fa-li"><i class="fas fa-fw fa-sort-amount-down"></i> </span> Sort Descending</li>
            <li> <span class="fa-li"><i class="fas fa-fw fa-sort-amount-up"></i> </span> Sort Ascending</li>
            <li> <span class="fa-li"><i class="fas fa-fw fa-columns"></i> </span> Split</li>
            <li> <span class="fa-li"><i class="fas fa-fw fa-eye"></i> </span> Show</li>
            <li> <span class="fa-li"><i class="fas fa-fw fa-eye-slash"></i> </span> Hide</li>
            <li> <span class="fa-li"><i class="fas fa-fw fa-lock"></i> </span> Lock</li>
            <li> <span class="fa-li"><i class="fas fa-fw fa-unlock-alt"></i> </span> Unlock</li>
        </ul>
    </div>
    <div class="col-xs-4">
        <p><strong>Application Specific</strong></p>

        <p><small>Oildex Platform Application Icons</small></p>

        <ul class="fa-ul">
            <li> <span class="fa-li"><i class="fas fa-fw fa-money-bill-alt"></i> </span> Revenue Detail (CDEX)</li>
            <li> <span class="fa-li"><i class="fas fa-fw fa-file"></i> </span> Joint Interest Bill (JIB)</li>
            <li> <span class="fa-li"><i class="fas fa-fw fa-handshake"></i> </span> Owner Relations</li>
            <li> <span class="fa-li"><i class="fas fa-fw fa-users"></i> </span> User Administration</li>
            <li> <span class="fa-li"><i class="fas fa-ticket-alt fa-fw " ></i> </span>  Run Ticket (CODE)</li>
        </ul>

        <p><small>OpenInvoice Application Icons</small></p>
        <ul class="fa-ul">
            <li> <span class="fa-li"><i class="fas fa-file fa-fw" ></i> </span>  OpenInvoice</li>
            <li> <span class="fa-li"><i class="fas fa-ticket-alt fa-fw"></i></span> Field Ticket</li>
            <li> <span class="fa-li"><i class="fas fa-tag fa-fw"></i> </span>  Purchase Order</li>
            <li> <span class="fa-li"><i class="fas fa-shield fa-fw"></i> </span>  Price Book</li>
            <li> <span class="fa-li"><i class="fas fa-registered fa-fw"></i></span> Rentals</li>
            <li> <span class="fa-li"><i class="fas fa-lightbulb-on fa-fw"></i></span> OpenInsights</li>

        </ul>

        <p><small>OpenInvoice Icons</small></p>

        <ul class="fa-ul">
            <li><span class="fa-li"><i class="fas fa-fw fa-check-circle"></i> </span> Approve </li>
            <li><span class="fa-li"><i class="fas fa-fw fa-thumbs-up"></i> </span> Approve (alt)</li>
            <li>
                <span class="fa-li">
                    <span class="fa-stack">
                        <i class="fas fa-copy fa-stack-1x"></i>
                        <i class="fas fa-inverse fa-arrow-alt-down fa-xs fa-stack-1x"></i>
                    </span>
                </span>
                Copy Down
            </li>
            <li> <span class="fa-li"><i class="fas fa-fw fa-times-circle"></i> </span> Dispute </li>
            <li> <span class="fa-li"><i class="fas fa-fw fa-thumbs-down"></i> </span> Dispute (alt)</li>
            <li> <span class="fa-li"><i class="fas fa-fw fa-paper-plane"></i> </span> Submit </li>
            <li> <span class="fa-li"><i class="fas fa-fw fa-eraser"></i> </span> Correct</li>
            <li> <span class="fa-li"><i class="fas fa-fw fa-list-ul"></i> </span> Itemize</li>
            <li> <span class="fa-li"><i class="fas fa-fw fa-money-bill-alt"></i> </span> Short Pay</li>
            <li> <span class="fa-li"><i class="fas fa-fw fa-credit-card"></i></span> Payment</li>
            <li> <span class="fa-li"><i class="fas fa-fw fa-key"></i></span> Ammend</li>
            <li> <span class="fa-li"><i class="fas fa-fw fa-calendar"></i></span> Schedule Payment </li>
            <li> <span class="fa-li"><i class="fas fa-fw fa-ban"></i></span> Void Invoice </li>
            <li>
                <span class="fa-li"><i class="fas fa-fw fa-check "></i></span>
                Check Coding
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-fw fa-eye "></i></span>
                Verify Coding
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-fw fa-thumbs-up "></i></span>
                Verify Coding &amp; Approve
            </li>
        </ul>
    </div>
    <div class="col-xs-4">
        <p><strong>Miscellaneous</strong></p>

        <ul class="fa-ul">
            <li><span class="fa-li"><i class="fas fa-fw fa-square"></i>  </span> Off / Unselected</li>
            <li><span class="fa-li"><i class="fas fa-fw fa-check-square"></i> </span> On / Selected</li>
            <li><span class="fa-li"><i class="fas fa-fw fa-calendar"></i> </span> Calendar </li>
            <li><span class="fa-li"><i class="fas fa-fw fa-desktop"></i> </span> Desktop</li>
            <li><span class="fa-li"><i class="fas fa-fw fa-envelope"></i> </span>Message / Mail </li>
            <li><span class="fa-li"><i class="fas fa-fw fa-cog"></i> </span> Settings </li>
            <li><span class="fa-li"><i class="fas fa-fw fa-user"></i> </span> User / Profile </li>
            <li><span class="fa-li"><i class="fas fa-fw fa-users"></i> </span> Users / Group </li>
        </ul>

        <p><strong>Notifications</strong></p>

        <ul class="fa-ul">
            <li>
                <span class="fa-li"><i class="fas fa-fw fa-info-circle text-info"></i> </span> Info
            </li>
            <li>
                <span class="fa-li"> <i class="fas fa-fw fa-check-circle text-success"></i> </span> Success
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-fw fa-question-square" style="color: #FFAD30;"></i> </span> Warning
            </li>
            <li>
                <span class="fa-li"> <i class="fas fa-fw fa-exclamation-triangle text-danger"></i> </span> Error
            </li>
        </ul>

        <p><strong>Compliance Icons</strong></p>

        <ul class="fa-ul">
            <li>
               <span class="fa-li">
                    <span class="fa-stack text-success">
                       <i class="fas fa-receipt"></i>
                    </span>
                </span>
                Goods Receipt Success
            </li>
            <li>
                <span class="fa-li">
                    <span class="fa-stack" style="color: #FFAD30;">
                       <i class="fas fa-receipt"></i>
                    </span>
                </span>
                Goods Receipt Warning
            </li>
            <li>
               <span class="fa-li">
                    <span class="fa-stack text-danger">
                       <i class="fas fa-receipt"></i>
                    </span>
                </span>
                Goods Receipt Danger
            </li>

            <li>&nbsp;</li>
            <li>
                <span class="fa-li">
                    <span class="fa-stack">
                        <i class="fas fa-shield fa-stack-1x text-info fa-fw"></i>
                        <i class="fa-inverse fas fa-info fa-stack-1x fa-xs fa-fw"></i>
                    </span>
                </span>
                Price Book Info
            </li>
            <li>
                <span class="fa-li">
                    <span class="fa-stack">
                        <i class="fas fa-shield-check text-success fa-stack-1x"></i>
                    </span>
                </span>
                Price Book Success
            </li>
            <li>
                <span class="fa-li">
                    <span class="fa-stack">
                        <i class="fas fa-shield fa-fw fa-stack-1x" style="color: #FFAD30;"></i>
                        <i class="fas fa-question fa-xs fa-fw fa-stack-1x"></i>
                    </span>
                </span>
                Price Book Warning
            </li>
            <li>
                <span class="fa-li">
                    <span class="fa-stack">
                        <i class="fas fa-shield fa-fw text-danger fa-stack-1x"></i>
                        <i class="fas fa-exclamation fa-xs fa-fw fa-inverse fa-stack-1x"></i>
                    </span>
                </span>
                Price Book Danger
            </li>

            <li>&nbsp;</li>

            <li>
                <span class="fa-li">
                    <span class="fa-stack">
                        <i class="fas fa-tag text-info fa-stack-1x"></i>
                        <i class="fas fa-exclamation fa-xs fa-fw fa-stack-1x fa-inverse"></i>
                    </span>
                </span>
                PO Info
            </li>
            <li>
                <span class="fa-li">
                    <span class="fa-stack">
                        <i class="fas fa-tag text-success fa-stack-1x"></i>
                        <i class="fas fa-check fa-xs fa-fw  fa-stack-1x fa-inverse"></i>
                    </span>
                </span>
                PO Success
            </li>
            <li>
                <span class="fa-li">
                    <span class="fa-stack">
                        <i class="fas fa-tag fa-stack-1x" style="color: #FFAD30;"></i>
                        <i class="fas fa-question fa-xs fa-fw fa-stack-1x"></i>
                    </span>
                </span>
                PO Warning
            </li>
            <li>
                <span class="fa-li">
                    <span class="fa-stack">
                        <i class="fas fa-tag fa-stack-1x text-danger"></i>
                        <i class="fas fa-exclamation fa-xs fa-fw  fa-stack-1x fa-inverse"></i>
                    </span>
                </span>
                PO Danger
            </li>

            <li>&nbsp;</li>

            <li>
                <span class="fa-li">
                    <span class="fa-stack">
                        <i class="fas fa-ticket fa-stack-1x text-info"></i>
                        <i class="fas fa-info fa-xs fa-stack-1x fa-inverse"></i>
                    </span>
                </span>
                Ticket Info
            </li>
            <li>
                <span class="fa-li">
                    <span class="fa-stack">
                        <i class="fas fa-ticket fa-stack-1x text-success" data-fa-transform="rotate-135"></i>
                        <i class="fas fa-check fa-xs fa-stack-1x fa-inverse"></i>
                    </span>
                </span>
                Ticket Success
            </li>
            <li>
                <span class="fa-li">
                    <span class="fa-stack">
                        <i class="fas fa-ticket fa-stack-1x"  style="color: #FFAD30;"></i>
                        <i class="fas fa-question fa-xs fa-stack-1x"></i>
                    </span>
                </span>
                Ticket Warning
            </li>
            <li>
                <span class="fa-li">
                    <span class="fa-stack">
                        <i class="fas fa-ticket fa-stack-1x text-danger"  data-fa-transform="rotate-135"></i>
                        <i class="fas fa-exclamation fa-xs fa-stack-1x fa-inverse"></i>
                    </span>
                </span>
                Ticket Danger
            </li>
        </ul>
    </div>
</div>
