<div class="checkbox" >
    <label>
        <input type="checkbox" {{# checked }} checked {{/ checked }}  {{# name }} name="{{name}}" {{/ name }}  {{# disabled }} disabled {{/ disabled }}>
        {{# checkbox-label}} {{checkbox-label}} {{/ checkbox-label}}
    </label>
</div>
