<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">

                 <div class="panel-heading">
                      <div class="panel-title">My Custom List</div>
                 </div>
                <div class="panel-body">
                    <div class="col-xs-4">
                        <div class="dashboard-card-lg-text text-info text-center">14</div>
                    </div>
                    <div class="col-xs-4">
                        <ul class="list-unstyled" style="padding-top: 1.4rem;">
                                <li><span class="text-nowrap"><a class="btn-link btn-block text-left"><i class="fas fa-square fa-fw text-success"></i> Early Pay <span class="pull-right">2</span></a></span></li>
                                <li><span class="text-nowrap"><a class="btn-link btn-block text-left">
                                    <i class="fas fa-square fa-fw text-info"></i> Quick Pay <span
                                                class="pull-right">1</i></a></span></li>
                        </ul>
                    </div>
                    <div class="col-xs-4">
                        <ul class="list-unstyled" style="padding-top: 1.4rem;" >
                            <li><a class="btn-link btn-block text-left"><i class="fas fa-square fa-fw"></i> Submitted  <span class="pull-right">8</span> </a></li>
                            <li><a class="btn-link btn-block text-left"><i class="fas fa-square fa-fw text-danger"></i> Stalled <span class="pull-right">3</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
