<div class="panel panel-default">
    <div class="panel-body">
        <div class="panel-title">
            {{panelTitle}}{{^panelTitle}}Panel Title{{/panelTitle}}
        </div>

        <div class="text-center text-info">
            <div class="h2">{{panelText}}{{^panelText}}4{{/panelText}}</div>
        </div>
    </div>
</div>
