{{^hideAlertTriggerButton}}
    <div class="form-group" >
        <div class="row">
            <div class="col-xs-12">
                <button id="showAlertBtn" class="btn btn-default" onclick="showAlertDialog('success','Yeah Baby!  Your changes have been saved.', true);"> Show Auto-Dismiss Dialog </button>
            </div>
        </div>
    </div>
{{/hideAlertTriggerButton}}
