
<p>Use the same HTML as <code>.nav-tabs</code>, but use <code>.nav-pills</code> instead:</p>
<ul class="nav nav-pills">
    <li role="presentation" class="active"><a href="#">Home</a></li>
    <li role="presentation"><a href="#">Profile</a></li>
    <li role="presentation"><a href="#">Messages</a></li>
</ul>
