 <form>
    <div class="form-group">
        <div class="row">
            <div class="col-sm-6">
                <label>AFE {{> atoms-required-field-indicator}} </label>
                {{> atoms-input("placeholder": "Type to search...", "value": "")}}
            </div>
            <div class="col-sm-6">
                <label>Cost Center {{> atoms-required-field-indicator}} </label>
                {{> atoms-input("placeholder": "Type to search...", "value": "")}}
            </div>
        </div>
    </div>

    <div id="advancedSearch" class="collapse form-group">
        <div class="form-group">
            <div class="row">
                <div class="col-sm-6">
                    <label>Location {{> atoms-required-field-indicator}} </label>
                    {{> atoms-input("placeholder": "Type to search...", "value": "")}}
                </div>
                <div class="col-sm-6">
                    <label>Requisitioner {{> atoms-required-field-indicator}}</label>
                    {{> atoms-input("placeholder": "Type to search...", "value": "")}}
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <button class="btn btn-success"> Search </button>
        <button class="btn btn-link" onmouseup="if($(this).text().trim()==='Show Additional Filters'){$(this).text('Hide Additional Filters');} else {$(this).text('Show Additional Filters');};" data-toggle="collapse" data-parent="#accordion" href="#advancedSearch">
            Show Additional Filters
        </button>
    </div>
</form>
