<div class="checkbox checkbox-lg">
    <label class="text-nowrap">
        <input type="checkbox" class="{{inputClass}}" id="{{inputId}}" value="" {{#checked}} {{checked }} {{/checked}}>
        <span class="checkboxRadioLg"><i class="fas fa-check"></i></span>
        {{#checkboxLabel}} {{checkboxLabel }} {{/checkboxLabel}}
    </label>
</div>
