<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
                <div class="btn-group">
                    <a  class="btn btn-sm btn-default" href="{{link.home-home}}"><i class="fas fa-arrow-left"></i> Back to Home</a>
                </div>
            <h1 class="page-header sg-custom-page-title">Organisms</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2 ">
            <div id="atomic">
                <a class="organisms">
                    <div class="atoms"></div> <div class="atoms"></div> <div class="atoms"></div> <div class="atoms"></div>
                    <div class="atoms"></div> <div class="atoms"></div> <div class="atoms"></div> <div class="atoms"></div>
                    <div class="atoms"></div> <div class="atoms"></div> <div class="atoms"></div> <div class="atoms"></div>
                    <div class="atoms"></div> <div class="atoms"></div> <div class="atoms"></div> <div class="atoms"></div>
                    <div class="atoms"></div> <div class="atoms"></div> <div class="atoms"></div> <div class="atoms"></div>
                </a>
            </div>
        </div>
        <div class="col-xs-8">
            <ul class="list-unstyled">
                <li class="h3">Organisms</li>
                <li class="form-group"> Organisms are <strong>groups of molecules (and possibly atoms) joined together to form a distinct section of an interface</strong></li>
                <li class="form-group"> Organisms can consist of similar and/or disparate molecule types.  For example, a masthead organism might consist of a logo, navigation links, and a search form.</li>
                <li class="form-group"> Building up from molecules to organisms encourages the creation of standalone, portable, reusable components.</li>
            </ul>

            <ol class="breadcrumb text-center">
                <li><a href="{{link.home-about-atoms}}">Atoms</a></li>
                <li><a href="{{link.home-about-molecules}}">Molecules</a></li>
                <li class="active">Organisms</li>
                <li><a href="{{link.home-about-templates}}">Templates</a></li>
                <li><a href="{{link.home-about-pages}}">Pages</a></li>
            </ol>
        </div>
    </div>
</div>

