 <!-- the following scripts are custom pattern-lab tweaks to allow the pattern  search to appear in the front page instead of being hidden the menu-->
 <script src="../../styleguide/data/patternlab-data.js" type="text/javascript" ></script>
 <script src="../../js/custom-patternlab-viewer.js" type="text/javascript" ></script>
 <script src="../../js/custom-functions.js" type="text/javascript" ></script>

<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-xs-6 col-sm-4 sg-custom-page-title">
                <div><img style="height: 40px; margin:0;" src="../../images/EnverusLogo.png"></div>
                <small class="small text-muted pull-left text-nowrap">Pattern Library & Styleguide</small>
            </div>
            <div class="col-xs-6 col-sm-8">
                <div class="form-group">
                    <form class="form-horizontal">
                        <div class="form-group has-feedback has-success" id="custom-sg-find" >
                            <label class="control-label col-sm-3 text-left text-nowrap" for="email"><strong>Find A Pattern: </strong></label>
                            <div class="col-sm-9">
                                <input class="form-control input-lg typeahead " id="custom-typeahead" type="text"  style="height: 42px; padding: 10px 16px; font-size: 18px;  line-height: 1.3333333;  border-radius: 2px;">
                                <script type="text/mustache" id="pl-pattern-home-template">
                                    <div>
                                        <a class="sg-acc-handle">{{ patternTypeUC }}</a>
                                        <ol class="sg-acc-panel">
                                            {{# patternTypeItems }}
                                            <li><a class="sg-acc-handle">{{ patternSubtypeUC }}</a>
                                                <ol class="sg-acc-panel sg-sub-nav">
                                                    {{# patternSubtypeItems }}
                                                    <li><a href="patterns/{{ patternPath }}" class="sg-pop  {{# patternState }}sg-pattern-state {{ patternState }}{{/ patternState }}" data-patternpartial="{{ patternPartial }}">{{ patternName }}</a></li>
                                                    {{/ patternSubtypeItems }}
                                                </ol>
                                            </li>
                                            {{/ patternTypeItems }} {{# patternItems }}
                                            <li><a href="patterns/{{ patternPath }}" class="sg-pop {{# patternState }}sg-pattern-state {{ patternState }}{{/ patternState }}" data-patternpartial="{{ patternPartial }}">{{ patternName }}</a></li>
                                            {{/ patternItems }}
                                        </ol>
                                    </div>
                                </script>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group text-info">
        <ul class="fa-ul">
            <li>
                <span class="fa-li">
                    <span class="fa-stack text-info">
                        <i class="fas fa-info-circle fa-stack-1x fa-lg"></i>
                    </span>
                </span>
                <p class="h3">
                    &nbsp;About this Styleguide
                </p>
            </li>
        </ul>
    </div>

    <div class="form-group clearfix">
        <div class="col-xs-12">
            We've adopted an Atomic Design methodology, which breaks down interfaces into the most basic elements or building blocks. Those building blocks are then combined into micro-interactions then into more complex elements. Micro-interactions are defined at the lowest possible level and combined with other micro-interactions to form complex interactions. The idea is that everything is comprised of atoms. Those atoms combine together to form molecules, which in turn combine into organisms.  These organisms are used to construct templates and pages.
        </div>
    </div>

    <div class="form-group text-center">
        <div id="atomic">
            <a class="atoms" href="{{link.home-about-atoms}}"></a>

            <i class="fas fa-long-arrow-right "></i>

            <a class="molecules" href="{{link.home-about-molecules}}">
                <div class="atoms"></div> <div class="atoms"></div> <div class="atoms"></div>
            </a>

            <i class="fas fa-long-arrow-right"></i>

            <a class="organisms" href="{{link.home-about-organisms}}">
                <div class="atoms"></div> <div class="atoms"></div> <div class="atoms"></div> <div class="atoms"></div>
                <div class="atoms"></div> <div class="atoms"></div> <div class="atoms"></div> <div class="atoms"></div>
                <div class="atoms"></div> <div class="atoms"></div> <div class="atoms"></div> <div class="atoms"></div>
                <div class="atoms"></div> <div class="atoms"></div> <div class="atoms"></div> <div class="atoms"></div>
                <div class="atoms"></div> <div class="atoms"></div> <div class="atoms"></div> <div class="atoms"></div>
            </a>

            <i class="fas fa-long-arrow-right"></i>

            <a class="templates" href="{{link.home-about-templates}}"></a>

            <i class="fas fa-long-arrow-right"></i>

            <a class="pages" href="{{link.home-about-pages}}"></a>
        </div>
    </div>
    <ul class="fa-ul text-info">
        <li>
            <span class="fa-li">
                <span class="fa-stack">
                    <i class="fas fa-circle fa-stack-1x fa-lg"></i>
                    <i class="fas fa-bookmark fa-stack-1x fa-inverse fa-xs" style="line-height: 1.95rem;"></i>
                </span>
            </span>
            <p class="h3">
                &nbsp;Guidelines &amp; Best Practices
            </p>
        </li>
    </ul>

    <div>
        <div class="col-sm-6">
            <ol class="fa-ul">
                <li>
                    <a class="btn-link" href="{{link.home-using-color}}">
                        <span class="fa-li">
                            <i class="fas fa-clipboard-check fa-fw text-muted"></i>
                        </span>
                        <span class="h4">
                            Using Color
                        </span>
                    </a>
                    <p>Best practices for appropriate use of color.</p>
                </li>
                <li>
                    <a class="btn-link" href="{{link.home-messaging}}">
                        <span class="fa-li">
                            <i class="fas fa-clipboard-check fa-fw text-muted"></i>
                        </span>
                        <span class="h4">
                            Messaging &amp; Feedback Guidelines.
                        </span>
                    </a>
                    <p>Best practices for communicating feedback and messages to users.</p>
                </li>
                <li>
                    <a class="btn-link" href="{{link.home-button-types}}">
                        <span class="fa-li">
                            <i class="fas fa-clipboard-check fa-fw text-muted"></i>
                        </span>
                        <span class="h4">
                            Button Types
                        </span>
                    </a>
                    <p>Guidelines for using the different types of buttons.</p>
                </li>
                <li>
                    <a class="btn-link" href="{{link.home-forms}}">
                        <span class="fa-li">
                            <i class="fas fa-clipboard-check fa-fw text-muted"></i>
                        </span>
                        <span class="h4">
                            Building Forms
                        </span>
                    </a>
                    <p>Using bootstrap's CSS classes to build form pages.</p>
                </li>
            </ol>
        </div>
        <div class="col-sm-6">
            <ol class="fa-ul">
                <li onclick="console.error('clicked'); openInNewWindow('../../images/DashboardAnatomy.pdf');">
                    <a class="btn-link" >
                        <span class="fa-li">
                            <i class="fas fa-clipboard-check fa-fw text-muted"></i>
                        </span>
                        <span class="h4">Anatomy of a Dashboard </span>
                    </a>
                    <p>Design Principles and best practices for delivering useful dashboards.</p>
                </li>
                <li onclick="console.error('clicked'); openInNewWindow('../../images/OildexDataVisualizationGuide.pdf');">
                    <a class="btn-link">
                        <span class="fa-li">
                            <i class="fas fa-clipboard-check fa-fw text-muted"></i>
                        </span>
                        <span class="h4">Data Visualization Guide.</span>
                    </a>
                    <p>Guidlines and principles for visualizing data.</p>
                </li>
                <li onclick="openInNewWindow('https://s3-us-west-2.amazonaws.com/s.cdpn.io/317356/enverusTheme.html');">
                    <a class="btn-link">
                        <span class="fa-li">
                            <i class="fas fa-clipboard-check fa-fw text-muted"></i>
                        </span>
                        <span class="h4">Enverus Theme</span>
                    </a>
                    <p>A demo showing bootstrap widgets with the Enverus Theme applied.</p>
                </li>
            </ol>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
       $('#custom-typeahead').attr('placeholder', getRandomPlaceholder() );
    });
</script>
