 <ul class="nav nav-pills nav-wizard text-nowrap">
    <li id="draft" class="hide-overflow stage current">
      <a data-toggle="tab">Draft</a>
      <div class="nav-arrow"></div>
    </li>
    <li id="internalReview" class="hide-overflow stage">
      <div class="nav-wedge"></div>
      <a data-toggle="tab">Internal Review</a>
      <div class="nav-arrow"></div>
    </li>
    <li id="supplierReview" class="hide-overflow stage">
      <div class="nav-wedge"></div>
      <a data-toggle="tab">Supplier Review</a>
      <div class="nav-arrow"></div>
    </li>
    <li id="Approve" class="hide-overflow stage">
      <div class="nav-wedge"></div>
      <a href="#" data-toggle="tab">Approve</a>
      <div class="nav-arrow"></div>
    </li>
    <li id="execute" class="hide-overflow stage">
      <div class="nav-wedge"></div>
      <a href="#" data-toggle="tab">Execute</a>
      <div class="nav-arrow"></div>
    </li>
    <li class="pull-right">
      <a id="markAsBtn" class="btn btn-success" >Mark Stage Complete</a>
    </li>
  </ul>

