<div class="radio">
    <label>
        <input type="radio"  {{# checked }} checked {{/ checked }}  {{# name }} name="{{name}}" {{/ name }}  {{# disabled }} disabled {{/ disabled }}>
        {{#label}} {{label}} {{/label }}
        {{^label}} Option {{/ label }}
    </label>
</div>
