<style>
    .panel-heading .panel-title.has-button {
        line-height: normal;
        width: 75%;
        padding-top: 0.5rem;
    }
</style>
<div class="row">
    <div class="col-xs-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title pull-left has-button hide-overflow">
                    {{loremIpsumLong}}
                </div>
                <div class="btn-group pull-right">
                    <button class="btn btn-default btn-sm">New</button>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-body">
                {{loremIpsumLong}}
            </div>
        </div>
    </div>
</div>
