<div class="row">
    <div class="col-md-3">
        <div class="panel {{panelClass}}">
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-9 text-left">
                        <ul class="list-unstyled">
                            <li class="text-nowrap hide-overflow text-primary">
                                Left Side
                            </li>
                            <li class="text-nowrap hide-overflow text-primary ">

                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-3 text-right">
                        <ul class="list-unstyled">
                            <li class="text-nowrap hide-overflow ">
                                <i class="fas fa-lg fa-flag text-warning"></i>
                            </li>
                            <li class="text-nowrap hide-overflow text-muted small">
                                Right Side
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 text-muted small">
                        <i class="fas fa-clock"></i>  Updated Just Now
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
