
<div class="modal right animated faster slideInRight slideOutRight" id="rightSlideInPanel" data-backdrop="false"
    tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-target="#rightSlideInPanel" onclick="toggleRightSlideInPanel(); toggleDashboardEditability();">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title">
                    {{#slideInPanelTitle}}
                        {{slideInPanelTitle}}
                    {{/slideInPanelTitle}}
                    {{^slideInPanelTitle}}
                        Right Slide In
                    {{/slideInPanelTitle}}
                </h5>
            </div>
            <div class="modal-body">
                {{#slideInPanelContent}}
                    <div id="drag-elements">
                        <div class="panel panel-default" data-id="avgTimeToProcessWidget" data-title="Average Time to Process">
                             <div class="panel-heading hide-overflow">
                                <div class="panel-title hide-overflow">
                                    Average Time to Process
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="media">
                                    <div class="media-left">
                                        <span class="fa-stack fa-lg img-responsive">
                                            <i class="fas fa-rectangle-landscape fa-stack-2x fa-lg  text-muted "></i>
                                            <i class="fal fa-chart-bar fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </div>
                                    <div class="media-body">
                                        <strong class="media-heading">Time to Process</strong>
                                        <p>Shows the average time to process invoices.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default" data-id="disputedInvoicesWidget" data-title="Disputed Invoices">
                            <div class="panel-heading hide-overflow">
                                <div class="panel-title hide-overflow">
                                    Disputed Invoices
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="media">
                                    <div class="media-left">
                                        <a href="#">
                                            <span class="fa-stack fa-lg img-responsive">
                                                <i class="fas fa-rectangle-landscape fa-stack-2x fa-lg  text-muted "></i>
                                                <i class="fal fa-chart-bar fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <strong class="media-heading">Disputed Invoices</strong>
                                        <p>Shows the number of disputed invoices by supplier over time.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {{/slideInPanelContent}}
                {{^slideInPanelContent}}
                    <p>{{loremIpsumLong}}</p>
                    <p>{{loremIpsumLong}}</p>
                    <p>{{loremIpsumLong}}</p>
                {{/slideInPanelContent}}
            </div>
            <div class="modal-footer">
                <button class="btn btn-default pull-left"  data-target="#rightSlideInPanel" onclick="toggleRightSlideInPanel(); toggleDashboardEditability();">Close</button>
            </div>
        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div><!-- modal -->
<script>
    $('#rightSlideInPanel').modal({
        backdrop: false
    });
    $('#pl-body').removeClass('modal-open');
</script>

{{#showSlideInPanelTriggers}}
    <button type="button" class="btn btn-default" onclick="toggleRightSlideInPanel();">
        Toggle Right Panel
    </button>
{{/showSlideInPanelTriggers}}
