<div class="btn-toolbar">
    <div class="btn-group">
        {{> atoms-btn:btn-default ("buttonText":"Create Ticket")}}
        {{> atoms-btn:btn-default ("buttonText":"Import Tickets")}}
        <div class="btn-group">
            <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                Other Actions...
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu dropdown-menu-right">
                <li> <a href="#">Create a Stack</a></li>
                <li> <a href="#">Create a SuperTicket</a></li>
                <li> <a href="#">Create a Rental</a></li>
            </ul>
        </div>
    </div>
</div>
