{{> organisms-navbar("extraClass":"navbar-fixed-top")}}

<div class="container-fluid page-top-padding">
    <div class="row">
        <div class="col-xs-12 text-center">
            <div class="h3">
                <i class="fal fa-browser fa-4x text-muted center-block" style="opacity: 0.2;"></i>
                <i class="fas fa-exclamation-circle fa-2x text-muted center-block" style="top:-60px; left: 35px; position: relative;"></i>
                <div>We've encountered an unexpected error.</div>
            </div>
            <div>
                Please try again or
                <a class="alert-link" href="mailto:OpenInvoiceSupport@oildex.com?subject=I%20encountered%20an%20unexpected%20error%20in%20OpenInvoice%20(error%20id:%20ocp123456).&body=Please%20contact%20me.">
                    <u>click here to email OpenInvoice support.</u>
                </a>
            </div>
        </div>
    </div>
</div>
<script>
    $('body').addClass('page-bg');
</script>
