<ul class="list-inline">
    <li>
        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
        <button type="button" class="btn btn-primary">Primary</button>
    </li>
    <li>
        <!-- Indicates a successful or positive action -->
        <button type="button" class="btn btn-success">Success</button>
    </li>
    <li>
        <!-- Contextual button for informational alert messages -->
        <button type="button" class="btn btn-info">Info</button>
    </li>
    <li>
        <!-- Indicates caution should be taken with this action -->
        <button type="button" class="btn btn-warning">Warning</button>
    </li>
    <li>
        <!-- Indicates a dangerous or potentially negative action -->
        <button type="button" class="btn btn-danger">Danger</button>
    </li>
    <li>
        <!-- Deemphasize a button by making it look like a link while maintaining button behavior -->
        <button type="button" class="btn btn-link">Link</button>
    </li>
    <li>
        <!-- Indicates an action that is unavailable -->
        <button type="button" class="btn btn-default" disabled="disabled">Disabled</button>
    </li>
</ul>

<ul class="list-inline">
    <li>
        <!-- Indicates a successful or positive action -->
        <button type="button" class="btn btn-outline-primary">Primary</button>
    </li>
    <li>
        <!-- Indicates a successful or positive action -->
        <button type="button" class="btn btn-outline-success">Success</button>
    </li>

    <li>
        <!-- Contextual button for informational alert messages -->
        <button type="button" class="btn btn-outline-info">Info</button>
    </li>
    <li>
        <!-- Indicates caution should be taken with this action -->
        <button type="button" class="btn btn-outline-warning">Warning</button>
    </li>
    <li>
        <!-- Indicates a dangerous or potentially negative action -->
        <button type="button" class="btn btn-outline-danger">Danger</button>
    </li>
</ul>
