<button type="button" class="btn {{styleModifier}} {{additionalClass}}" {{attributes}} >
        {{#buttonIconClass}}
            <i class="fas {{buttonIconClass}}"></i>
        {{/buttonIconClass}}

        {{#buttonText}}
            {{ buttonText }}
        {{/buttonText}}
</button>
