<input type="text" class="form-control"
    {{#inputId}} id="{{inputId}}" {{/inputId}}
    {{#value}} value="{{value}}"{{/value}}
    {{#placeholder}} placeholder="{{placeholder}}" {{/placeholder}}
    {{#disabled}} disabled {{/disabled}}
/>
