<meta content="utf-8" http-equiv="encoding">
<script type="text/javascript" src="../../js/gauge-chart.js"></script>

{{^hideRandomizeButton}}
    <button class="btn btn-sm btn-default" id="randomizeGaugeBtn">Randomize</button>
{{/ hideRandomizeButton }}

<div id="animatedGauge"  class="{{chartId}}" style="overflow: hidden; width:250px; height: 155px; margin: auto;"> </div>
