<div class="radio radio-lg">
    <label class="text-nowrap">
        <input type="radio" class="{{inputClass}}" id="{{inputId}}" value="" {{#checked}} {{checked }} {{/checked}}>
        <span class="checkboxRadioLg"><i class="fas fa-circle"></i></span>
        {{#radioLabel}} {{radioLabel }} {{/radioLabel}}
    </label>
</div>
