<div class="alert alert-danger" role="alert">
    {{# dismissableAlert }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    {{/ dismissableAlert }}
    We've encountered an unexpected error. Please try again or <a class="alert-link" href="mailto:OpenInvoiceSupport@oildex.com?subject=I%20encountered%20an%20unexpected%20error%20in%20OpenInvoice%20(error%20id:%20ocp123456).&body=Please%20contact%20me."> click here to email OpenInvoice support. </a>
</div>
