<div class="panel panel-default status-panel ">
    <div class="panel-heading hide-overflow">
        <div class="panel-title">
            Panel Title
        </div>
    </div>
    <div class="panel-body">
        {{#statusPanelData}}
            <div class="col-xs-3 text-center" style="cursor:pointer;">
                <strong class="small clearfix">{{statusTitle}}</strong>
                <span class="clearfix"><a class="btn btn-link btn-block"><span class="h3">{{statusValue}}</span></a></span>
            </div>
        {{/statusPanelData}}
    </div>
</div>
