

<div class="row">
  <div class="col-xs-12">
    <p class="h5"><strong>Field Ticket Cards:</strong></p>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default field-ticket-card">
      <div class="panel-body">
          <div class="row">
            <div class="col-xs-8">
              <div class="h5 text-nowrap hide-overflow">29734676001</div>
              <div class="h4"><strong>ABC Supplier Company</strong></div>
              <div class="h5 text-nowrap hide-overflow text-muted"><small>USD</small> 74,984.87</div>
              <div class="media text-info">
                <div class="media-left">
                  <span class="fa-layers">
                    <i class="fas fa-shield fa-lg text-info" ></i>
                    <i class="fas fa-info fa-xs fa-inverse" data-fa-transform="right-3"></i>
                  </span>
                </div>
                <div class="media-body">
                    <p class="media-heading">The Price book doesn’t specify any pricing</p>
                </div>
              </div>
            </div>
            <div class="col-xs-4 text-right">
              <ul class="list-unstyled">
                <li class="h5 text-nowrap hide-overflow text-muted">15 Sept 2017</li>
                <li class="h5 text-nowrap hide-overflow text-muted">Submitted</li>
                <li class="h5 text-nowrap hide-overflow text-muted">2 <i class="fas fa-paperclip fa-fw"></i></li>
              </ul>
            </div>
          </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default field-ticket-card">
      <div class="panel-body">
          <div class="row">
            <div class="col-xs-8">
              <div class="h5 text-nowrap hide-overflow">29734676001</div>
              <div class="h4"><strong>ABC Supplier Company</strong></div>
              <div class="h5 text-nowrap hide-overflow text-muted"><small>USD</small> 74,984.87</div>

              <div class="media text-success">
                <div class="media-left">
                    <span class="fa-layers">
                    <i class="fas fa-shield fa-lg text-success" ></i>
                    <i class="fas fa-check fa-xs fa-inverse" data-fa-transform="right-4"></i>
                  </span>
                </div>
                <div class="media-body">
                    <p class=" media-heading">Full Price Book Compliance</p>
                </div>
              </div>

            </div>
            <div class="col-xs-4 text-right">
              <ul class="list-unstyled">
                <li class="h5 text-nowrap hide-overflow text-muted">15 Sept 2017</li>
                <li class="h5 text-nowrap hide-overflow text-muted">Approved</li>
                <li class="h5 text-nowrap hide-overflow text-muted">2 <i class="fas fa-paperclip fa-fw"></i></li>
              </ul>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default field-ticket-card">
      <div class="panel-body">
          <div class="row">
            <div class="col-xs-8">
              <div class="h5 text-nowrap hide-overflow">29734676001</div>
              <div class="h4"><strong>ABC Supplier Company</strong></div>
              <div class="h5 text-nowrap hide-overflow text-muted"><small>USD</small> 74,984.87</div>
              <div class="media text-warning">
                <div class="media-left">
                    <span class="fa-layers">
                    <i class="fas fa-shield fa-lg text-warning" ></i>
                    <i class="fas fa-question fa-xs fa-inverse" data-fa-transform="right-4"></i>
                  </span>
                </div>
                <div class="media-body">
                    <p class="media-heading">14% not covered by the price book</p>
                </div>
              </div>
            </div>
            <div class="col-xs-4 text-right">
              <ul class="list-unstyled">
                <li class="h5 text-nowrap hide-overflow text-muted">15 Sept 2017</li>
                <li class="h5 text-nowrap hide-overflow text-muted">Approved</li>
                <li class="h5 text-nowrap hide-overflow text-muted">2 <i class="fas fa-paperclip fa-fw"></i></li>
              </ul>
            </div>
          </div>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel panel-default field-ticket-card">
      <div class="panel-body">
          <div class="row">
            <div class="col-xs-8">
              <div class="h5 text-nowrap hide-overflow text-muted">29734676001</div>
              <div class="h4"><strong>ABC Supplier Company</strong></div>
              <div class="h5 text-nowrap hide-overflow text-muted"><small>USD</small> 74,984.87</div>
              <div class="media text-danger">
                <div class="media-left">
                    <span class="fa-layers">
                    <i class="fas fa-shield fa-lg text-danger" ></i>
                    <i class="fas fa-exclamation fa-xs fa-inverse text-center" data-fa-transform="right-4"></i>
                  </span>
                </div>
                <div class="media-body">
                    <p class="media-heading">Excess charges of CAD 2,876.34</p>
                </div>
              </div>
            </div>
            <div class="col-xs-4 text-right">
              <ul class="list-unstyled">
                <li class="h5 text-nowrap hide-overflow text-muted">15 Sept 2017</li>
                <li class="h5 text-nowrap hide-overflow text-muted">Submitted</li>
                <li class="h5 text-nowrap hide-overflow text-muted">2 <i class="fas fa-paperclip fa-fw"></i></li>
              </ul>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <p class="h5"><strong>Field Ticket Header:</strong></p>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
              <ul class="list-unstyled hide-overflow small">
                <li>
                  <strong class="lead text-primary">23022017-0001</strong>
                </li>
                <li>
                  <span class="lead text-primary">SES Holdings LLC</span>
                </li>
              </ul>
            </div>
            <div class="col-xs-6">
              <ul class="list-unstyled hide-overflow small">
                <li class="hidden-xs">
                  <strong class="lead text-primary">23022017-0001</strong>
                </li>
                <li>
                  <strong>Submitted</strong>
                </li>
                <li>
                  <strong>Water Hauling Ticket</strong>
                </li>
              </ul>
            </div>
            <div class="col-xs-6">
              <ul class="list-unstyled text-right hide-overflow small">
                <li class="hidden-xs">
                  <span class="lead text-primary">SES Holdings LLC</span>
                </li>
                <li>
                  <strong>2017/04/09</strong>
                </li>
                <li>
                  <strong>USD 1,414,800.94</strong>
                </li>
              </ul>
            </div>
          </div>
          <div class="form-group">
            <div class="media text-danger">
               <div class="media-left">
                    <span class="fa-layers">
                    <i class="fas fa-shield fa-lg text-danger" ></i>
                    <i class="fas fa-exclamation fa-xs fa-inverse text-center" data-fa-transform="right-4"></i>
                  </span>
                </div>
              <div class="media-body">
                  <p class="media-heading">Excess charges of CAD 2,876.34</p>
              </div>
            </div>
          </div>
          <ul class="nav nav-tabs">
            <li class="active">
              <a data-toggle="tab"
                href="#ticketHeader">Header</a>
            </li>
            <li>
              <a data-toggle="tab"
                href="#lineItems">Lines</a>
            </li>
            <li>
              <a data-toggle="tab"
                href="#journal">Journal</a>
            </li>
            <li>
              <a data-toggle="tab"
                href="#attachments">Attachments
              <sup class="label small label-success">2</sup></a>
            </li>
          </ul>
          <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="ticketHeader">
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="control-label">Contract</label>
                    <p class="form-control-static">C3878979669</p>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="control-label">Requisitioner </label>
                    <p class="form-control-static">Michael Turner</p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label class="control-label">Description</label>
                    <p class="form-control-static">LABOR ON LOCATION</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
              <ul class="list-unstyled hide-overflow small">
                <li>
                  <strong class="lead text-primary">23022017-0001</strong>
                </li>
                <li>
                  <span class="lead text-primary">SES Holdings LLC</span>
                </li>
              </ul>
            </div>
            <div class="col-xs-6">
              <ul class="list-unstyled hide-overflow small">
                <li class="hidden-xs">
                  <strong class="lead text-primary">23022017-0001</strong>
                </li>
                <li>
                  <strong>Submitted</strong>
                </li>
                <li>
                  <strong>Water Hauling Ticket</strong>
                </li>
              </ul>
            </div>
            <div class="col-xs-6">
              <ul class="list-unstyled text-right hide-overflow small">
                <li class="hidden-xs">
                  <span class="lead text-primary">SES Holdings LLC</span>
                </li>
                <li>
                  <strong>2017/04/09</strong>
                </li>
                <li>
                  <strong>USD 1,414,800.94</strong>
                </li>
              </ul>
            </div>
          </div>

          <div class="form-group">
            <div class="media text-warning">
             <div class="media-left">
                    <span class="fa-layers">
                    <i class="fas fa-shield fa-lg text-warning" ></i>
                    <i class="fas fa-question fa-xs fa-inverse" data-fa-transform="right-4"></i>
                  </span>
                </div>
              <div class="media-body">
                  <p class="media-heading">14% not covered by the price book</p>
              </div>
            </div>
          </div>
          <ul class="nav nav-tabs">
            <li class="active">
              <a data-toggle="tab"
                href="#ticketHeader">Header</a>
            </li>
            <li>
              <a data-toggle="tab"
                href="#lineItems">Lines</a>
            </li>
            <li>
              <a data-toggle="tab"
                href="#journal">Journal</a>
            </li>
            <li>
              <a data-toggle="tab"
                href="#attachments">Attachments
              <sup class="label small label-success">2</sup></a>
            </li>
          </ul>
          <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="ticketHeader">
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="control-label">Contract</label>
                    <p class="form-control-static">C3878979669</p>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="control-label">Requisitioner </label>
                    <p class="form-control-static">Michael Turner</p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label class="control-label">Description</label>
                    <p class="form-control-static">LABOR ON LOCATION</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
              <ul class="list-unstyled hide-overflow small">
                <li>
                  <strong class="lead text-primary">23022017-0001</strong>
                </li>
                <li>
                  <span class="lead text-primary">SES Holdings LLC</span>
                </li>
              </ul>
            </div>
            <div class="col-xs-6">
              <ul class="list-unstyled hide-overflow small">
                <li class="hidden-xs">
                  <strong class="lead text-primary">23022017-0001</strong>
                </li>
                <li>
                  <strong>Submitted</strong>
                </li>
                <li>
                  <strong>Water Hauling Ticket</strong>
                </li>
              </ul>
            </div>
            <div class="col-xs-6">
              <ul class="list-unstyled text-right hide-overflow small">
                <li class="hidden-xs">
                  <span class="lead text-primary">SES Holdings LLC</span>
                </li>
                <li>
                  <strong>2017/04/09</strong>
                </li>
                <li>
                  <strong>USD 1,414,800.94</strong>
                </li>
              </ul>
            </div>
          </div>
          <div class="form-group">
            <div class="media text-success">
              <div class="media-left">
                  <span class="fa-layers">
                    <i class="fas fa-shield fa-lg text-success" ></i>
                    <i class="fas fa-check fa-xs fa-inverse" data-fa-transform="right-3"></i>
                  </span>
                </div>
              <div class="media-body">
                  <p class="media-heading">Full price book compliance</p>
              </div>
            </div>
          </div>
          <ul class="nav nav-tabs">
            <li class="active">
              <a data-toggle="tab"
                href="#ticketHeader">Header</a>
            </li>
            <li>
              <a data-toggle="tab"
                href="#lineItems">Lines</a>
            </li>
            <li>
              <a data-toggle="tab"
                href="#journal">Journal</a>
            </li>
            <li>
              <a data-toggle="tab"
                href="#attachments">Attachments
              <sup class="label small label-success">2</sup></a>
            </li>
          </ul>
          <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="ticketHeader">
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="control-label">Contract</label>
                    <p class="form-control-static">C3878979669</p>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="control-label">Requisitioner </label>
                    <p class="form-control-static">Michael Turner</p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label class="control-label">Description</label>
                    <p class="form-control-static">LABOR ON LOCATION</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
              <ul class="list-unstyled hide-overflow small">
                <li>
                  <strong class="lead text-primary">23022017-0001</strong>
                </li>
                <li>
                  <span class="lead text-primary">SES Holdings LLC</span>
                </li>
              </ul>
            </div>
            <div class="col-xs-6">
              <ul class="list-unstyled hide-overflow small">
                <li class="hidden-xs">
                  <strong class="lead text-primary">23022017-0001</strong>
                </li>
                <li>
                  <strong>Submitted</strong>
                </li>
                <li>
                  <strong>Water Hauling Ticket</strong>
                </li>
              </ul>
            </div>
            <div class="col-xs-6">
              <ul class="list-unstyled text-right hide-overflow small">
                <li class="hidden-xs">
                  <span class="lead text-primary">SES Holdings LLC</span>
                </li>
                <li>
                  <strong>2017/04/09</strong>
                </li>
                <li>
                  <strong>USD 1,414,800.94</strong>
                </li>
              </ul>
            </div>
          </div>
          <div class="form-group">
            <div class="media text-info">
              <div class="media-left">
                  <span class="fa-layers">
                    <i class="fas fa-shield fa-lg text-info" ></i>
                    <i class="fas fa-info fa-xs fa-inverse" data-fa-transform="right-3"></i>
                  </span>
                </div>
              <div class="media-body">
                  <p class="media-heading">Price book doesn't specify any pricing</p>
              </div>
            </div>
          </div>
          <ul class="nav nav-tabs">
            <li class="active">
              <a data-toggle="tab"
                href="#ticketHeader">Header</a>
            </li>
            <li>
              <a data-toggle="tab"
                href="#lineItems">Lines</a>
            </li>
            <li>
              <a data-toggle="tab"
                href="#journal">Journal</a>
            </li>
            <li>
              <a data-toggle="tab"
                href="#attachments">Attachments
              <sup class="label small label-success">2</sup></a>
            </li>
          </ul>
          <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="ticketHeader">
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="control-label">Contract</label>
                    <p class="form-control-static">C3878979669</p>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="control-label">Requisitioner </label>
                    <p class="form-control-static">Michael Turner</p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label class="control-label">Description</label>
                    <p class="form-control-static">LABOR ON LOCATION</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <p class="h5"><strong>Field Ticket Lines:</strong></p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="form-group">
      <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover">
          <tr>
            <th>#</th>
            <th class="text-center" width="16">Alert</th>
            <th>Part # / Item ID</th>
            <th>Description</th>
            <th>Service Start</th>
            <th>Service End</th>
            <th>AFE</th>
            <th>Quantity</th>
            <th>Units</th>
            <th>Rate</th>
          </tr>
          <tr>
            <td>1</td>
            <td class="text-center" width="8">
                  <span class="fa-layers">
                    <i class="fas fa-shield fa-lg text-danger" ></i>
                    <i class="fas fa-exclamation fa-xs fa-inverse" data-fa-transform="right-3"></i>
                  </span>
            </td>
            <td>8734235</td>
            <td>General Hourly Labour Charges</td>
            <td>07 Jul 2017</td>
            <td>07 Jul 2017</td>
            <td>999554</td>
            <td>8</td>
            <td>Hours</td>
            <td>120.00</td>
          </tr>
          <tr>
            <td>2</td>
            <td class="text-center" width="8">
                  <span class="fa-layers">
                    <i class="fas fa-shield fa-lg text-warning" ></i>
                    <i class="fas fa-question fa-xs fa-inverse" data-fa-transform="right-3"></i>
                  </span>
            </td>
            <td>8734235</td>
            <td>General Hourly Labour Charges</td>
            <td>07 Jul 2017</td>
            <td>07 Jul 2017</td>
            <td>999554</td>
            <td>8</td>
            <td>Hours</td>
            <td>120.00</td>
          </tr>
          <tr>
            <td>3</td>
            <td class="text-center" width="8">
                  <span class="fa-layers">
                    <i class="fas fa-shield fa-lg text-info" ></i>
                    <i class="fas fa-info fa-xs fa-inverse" data-fa-transform="right-4"></i>
                  </span>
            </td>
            <td>8734235</td>
            <td>General Hourly Labour Charges</td>
            <td>07 Jul 2017</td>
            <td>07 Jul 2017</td>
            <td>999554</td>
            <td>8</td>
            <td>Hours</td>
            <td>120.00</td>
          </tr>
          <tr>
            <td>4</td>
            <td class="text-center" width="8">
               <span class="fa-layers">
                    <i class="fas fa-shield fa-lg text-success" ></i>
                    <i class="fas fa-check fa-xs fa-inverse" data-fa-transform="right-3"></i>
                  </span>
            </td>
            <td>8734235</td>
            <td>General Hourly Labour Charges</td>
            <td>07 Jul 2017</td>
            <td>07 Jul 2017</td>
            <td>999554</td>
            <td>8</td>
            <td>Hours</td>
            <td>120.00</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <p class="h5"><strong>Field Ticket Details:</strong></p>
  </div>
</div>
    <div id="editLineItemModal" class="" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="row">
                        <div class="col-xs-3">
                            <button class="btn btn-link" data-toggle="modal" data-target="#editLineItemModal" ng-click="unSetSelectedRowIndex(); toggleSlideInPanel();">
                                <i class="fas fa-chevron-left fa-fw"></i> Back
                            </button>
                        </div>
                        <div class="col-xs-9 col-xs-pull-2">
                            <h4 class="modal-title text-center">Edit Line Item #1</h4>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                   <div id="offContractErrorText" class="help-block">
                        <div class="media text-danger">
                          <div class="media-left">
                            <span class="fa-layers">
                              <i class="fas fa-shield fa-lg text-danger" ></i>
                              <i class="fas fa-exclamation fa-xs fa-inverse" data-fa-transform="right-3"></i>
                            </span>
                          </div>
                          <div class="media-body">
                              <p class="media-heading">This item specifies a rate higher than the price book.</p>
                          </div>
                        </div>
                    </div>
                    <form>
                        <div class="form-group">
                            <label for="lineNumberFld" class="control-label">Line Number:</label>
                            <input id="lineNumberFld" type="text" class="form-control" value="1">
                        </div>
                        <div class="form-group" id="typeahead-form-group">
                            <label id="productServiceSearchLabel" class="control-label">Part # / Item ID: </label>

                            <div class="input-group">
                              <input id="prodServiceFld" class="typeahead form-control" placeholder="Type to search (minimum 3 characters)" value="" type="text" >
                              <span class="input-group-addon" id="onOffContractCheckbox" >
                                <label class="checkbox-inline">
                                    <input id="offContractChk" type="checkbox" aria-label="Checkbox for following text input" onclick="var isChecked = $('#offContractChk').prop('checked'); setDataSource(isChecked ? 2 : 1 ); $('#onOffContractCheckbox').toggleClass('bg-warning');">
                                    Off Price Book
                                </label>
                              </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="descFld" class="control-label">Description:</label>
                            <input id="descFld" type="text" class="form-control" style="overflow-y: scroll !important; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch !important;">
                        </div>
                        <div class="form-group">
                            <label for="fromFld" class="control-label">Date From:</label>
                            <input id="fromFld" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="toFld" class="control-label">Date To:</label>
                            <input id="toFld" type="text" class="form-control">
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <a href="#" class="btn btn-success pull-left" id="saveLineItemButton" data-toggle="modal" data-target="#editLineItemModal" ng-click="unSetSelectedRowIndex(); toggleSlideInPanel(); $('#successMessageContent').html('The line item was successfully saved'); $('#success-msg').toggleClass('in'); ">
                        Save
                    </a>
                    <a id="cancelEditLineItemButton" href="#" class="btn btn-default pull-left" data-toggle="modal" data-target="#editLineItemModal" ng-click="unSetSelectedRowIndex(); toggleSlideInPanel();">
                        Cancel
                    </a>

                </div>
            </div>
        </div>
    </div>