<div class="lead page-header">
    Document #12345

    <span class="pull-right">
        <a class="btn btn-sm btn-link" href="#">&lt; Previous</a>
        <a class="btn btn-sm btn-link" href="#">Next &gt;</a>
    </span>
</div>
