<div class="lead">
    <div class="h4">
        <strong>
            {{ heading }}
        </strong>
    </div>
    {{# subheading }}
        <small>
            {{ subheading }}
        </small>
    {{/ subheading }}
</div>
