<!-- the form-control-feedback div appears by nature of the form-group having the 'has-feedback' class -->
<div id="busyInput" class="form-group has-feedback">
    <input class="form-control" type="text">
    <div class="form-control-feedback">
        <i class="fas fa-spinner fa-spin fa-pulse text-info"></i>
    </div>
</div>

