<div class="btn-group">
    {{> atoms-btn:btn-default ("buttonText":"Actions...")}}
    <button type="button" class="btn {{ buttonType }} dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        {{# caret }}<span class="{{ caret }}"></span>{{/ caret }}
            <span class="sr-only">{{ cta }}</span>
    </button>
    <ul class="dropdown-menu">
        {{# createNewDropdownListItems }}
            <li {{# separator }}role="separator" {{/ separator }}><a href="{{ url }}">{{ text }}</a></li>
            {{/ createNewDropdownListItems }}
    </ul> 
</div>
