<p data-height="500" data-theme-id="19790" data-slug-hash="9fa505e7a776b9f7696dafe3a527ef5c" data-default-tab="result" data-user="oildexUX" data-embed-version="2" data-pen-title="Oildex Email Template" class="codepen">See the Pen <a href="http://codepen.io/oildexUX/pen/9fa505e7a776b9f7696dafe3a527ef5c/">Oildex Email Template</a> by Oildex User Experience (<a href="http://codepen.io/oildexUX">@oildexUX</a>) on <a href="http://codepen.io">CodePen</a>.</p>
<script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
