<!-- required for d3 initialization to succeed -->
<meta content="utf-8" http-equiv="encoding">
<style>
    #barChart svg { overflow: visible !important; }
    #barChart .barContainer { border: 1px solid red;}
</style>
<script src="https://d3js.org/d3-color.v1.min.js"></script>
<script src="https://d3js.org/d3-interpolate.v1.min.js"></script>
<script src="https://d3js.org/d3-scale.v3.min.js"></script>
<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>

<div id="barChart"></div>
