<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
                <div class="btn-group">
                    <a  class="btn btn-sm btn-default" href="{{link.home-home}}"><i class="fas fa-arrow-left"></i> Back to Home</a>
                </div>
            <h1 class="page-header sg-custom-page-title">Pages</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2 ">
            <div id="atomic">
                <a class="pages" href="{{link.home-pages}}"></a>
            </div>
        </div>
        <div class="col-xs-8">
            <ul class="list-unstyled">
                <li class="h3">Pages</li>
                <li class="form-group"> Pages <strong>are specific instances of templates</strong> and swap out placeholder content with real representative content to give an accurate depiction of what a user will ultimately see. </li>
                <li class="form-group"> Pages are essential for testing the effectiveness of the design system.  This final form allows us to loop back to modify our molecules, organisms, and templates to better address the real context of the design.</li>
                <li class="form-group"> Pages also provide a place to test variations in templates, such as testing an invoice with very long entity names.  Does the design scale well when a user has one line item versus 50 line items? </li>
                <li class="form-group"> Pages are where we <strong>test the resiliency of the finished design</strong>. </li>

            </ul>

            <ol class="breadcrumb text-center">
                <li><a href="{{link.home-about-atoms}}">Atoms</a></li>
                <li><a href="{{link.home-about-molecules}}">Molecules</a></li>
                <li><a href="{{link.home-about-organisms}}">Organisms</a></li>
                <li><a href="{{link.home-about-templates}}">Templates</a></li>
                <li class="active">Pages</li>
            </ol>
        </div>
    </div>
</div>

