<ul class="list-group checked-list-group sortable-items">
    <li sequence="0" class="list-group-item" value="0">
        <label><input type="checkbox"/> Viewer</label>
    </li>
    <li sequence="1" class="list-group-item" value="1">
        <label><input type="checkbox"/> Editor</label>
    </li>
    <li sequence="2" class="sortable-list-group-item list-group-item" value="11">
        <label><input type="checkbox"/> Reviewer</label>
    </li>
    <li sequence="3" class="sortable-list-group-item list-group-item" value="12">
        <label><input type="checkbox"/> Approver</label>
    </li>
    <li sequence="4" class="sortable-list-group-item list-group-item" value="22">
        <label><input type="checkbox"/> Remove from Project</label>
    </li>
</ul>
