<div class="btn-group {{ buttonGroupClass }}" role="group" aria-label="{{ ariaLabel }}">
    {{# buttonGroupList }}
        {{> atoms-btn:btn-default ("buttonText": "{{text}}") }}
    {{/ buttonGroupList }}
</div>
