
{{# table-multi-row-header}}
<div class="table-responsive multi-row-header">
    <table class="table table-bordered">
        {{# thead }}
        <thead>
            <tr>
                {{# th1 }}
                <th colspan=2>{{ title }}</th>
                {{/ th1 }}
            </tr>
            <tr>
                {{# th2 }}
                <th>{{ title }}</th>
                {{/ th2 }}
            </tr>
        </thead>
        {{/ thead }}
        {{# tbody }}
        <tbody>
            <tr>
                {{# td1 }}
                <td colspan=2>{{ value }}</td>
                {{/ td1 }}
            </tr>
            <tr>
                {{# td2 }}
                <td>{{ value }}</td>
                {{/ td2 }}
            </tr>
        </tbody>
        <tbody>
            <tr>
                {{# td3 }}
                <td colspan=2>{{ value }}</td>
                {{/ td3 }}
            </tr>
            <tr>
                {{# td4 }}
                <td>{{ value }}</td>
                {{/ td4 }}
            </tr>
        </tbody>
        {{/ tbody }}
    </table>
</div>
{{/ table-multi-row-header }}
