{{> organisms-navbar("extraClass":"navbar-fixed-top", "pageTitle": "Super Ticket")}}
{{> organisms-secondary-navbar("extraClass":"navbar-fixed-top", "pageTitle": "Anomalies List","hideNextPreviousButtons": true,"customBackButtonLink":"{{link.pages-audit-analytics-dashboard}}")}}
<input type="hidden" id="anomalyViewHref" value='{{link.pages-anomaly-view}}'>

<style>
    .selected {
        background-color: #E3F2FD !important;
    }

    .fullscreen-toggle {
        min-width: 5rem;
        min-height: 2rem;
        transition: all 0.3s linear;
    }

    .fullscreen-toggle.fullscreen {
        z-index: 9999;
        width: 99vw;
        /* 99% viewport width */
        margin: 0 auto;
        position: fixed;
        top: 0;
        left: 0.5vw;
        /* position 0.5% to the left */
        transition: all 0.3s linear;
        overflow-y: scroll;
    }

    table#anomaliesList.table-hover tbody tr:not([style^="background"]):hover td {
        background: #d9edf7;
    }
</style>

<script type="text/javascript" src="../../js/anomalies-list.js"></script>

<div class="container-fluid  page-top-padding  page-bottom-padding">
    <input type="hidden" id="documentViewerHref" value='{{link.pages-documentViewer}}'>

    <div class="panel panel-default">
        <div id="superTicketHeader" class="panel-heading" style="border-bottom: 0px">
            <div class="row">
                <div class="col-sm-12">
                    {{> templates-document-header("documentNumber":"Anomalies List","documentCurrency":"","documentStatus":"", "documentCompanyName":"",  "documentCount":"Number of Tickets: 99")}}
                </div>
            </div>

            <span id="tableFilteredFeedback" class="form-group bg-info text-info hide">
                <i class="fas fa-info-circle"></i> The table below is filtered by the highlighted allocation in the
                Allocation Summary .
                <a id="clearSuperTicketFiltersBtn" class="btn btn-link" href="#">Clear Filters</a>
            </span>
        </div>
        <div class="panel-heading">
            <!-- <div class="form-group">
                <button class="btn btn-default" id="showBulkUpdate">Bulk Update</button>
            </div> -->
            <table id="anomaliesList" class="display table table-striped table-hover table-bordered" width="100%">
                <thead>
                    <tr>
                        <th width="36">&nbsp;</th>
                        <th class="checkbox text-center">
                            <label>
                                <input id="selectAllSuperTicketTickets" type="checkbox"
                                    onclick="$('.stCheckbox').prop('checked',$(this).prop('checked'));" />
                            </label>
                        </th>
                        <th class="text-nowrap">Anomaly Id</th>
                        <th class="text-nowrap">Anomaly Type</th>
                        <th class="text-nowrap">Supplier Name</th>
                        <th class="text-nowrap">Severity</th>
                        <th class="text-nowrap text-center">Anomaly Date</th>
                        <th class="text-nowrap text-center">Age</th>

                        <th class="text-nowrap">Records</th>
                        <th class="text-nowrap">Total Value</th>
                        <th class="text-nowrap">Actions</th>
                        <!-- <th class="text-nowrap">Requisitioner</th>
                        <th class="text-nowrap">Superintendent</th>
                        <th class="text-nowrap">Location</th>
                        <th class="text-center text-nowrap">Status</th>
                        <th class="text-center text-nowrap">Attachments</th>
                        <th class="text-nowrap">Currency</th>
                        <th class="text-center text-nowrap">Amount</th> -->
                    </tr>
                </thead>
            </table>
        </th>
    </div>
</div>
{{> templates-resizable-modal("hideResizableModalTriggerButton":true,"hideModal":true, "customResizableModalTitle":true, "customModalTitle":"Audit Anomalies Action Modal", "resizableModalContent":"All actions performed via this modal.")}}

{{> templates-bulk-update("idSuffix":"anomaliesList","hideModal":true)}}

<nav class="navbar navbar-inverse navbar-fixed-bottom" style="border-top: 1px solid #ccc;">
    <div class="container-fluid">
        <div class="btn-toolbar btn-toolbar-centered" role="toolbar" style="background-color: #f5f5f5; border: 1px solid #dedede;">
            <div class="btn-group" role="group">
                {{#anomalyListToolbarItems}}
                    <button class="btn btn-default" data-toggle="modal" data-target="#resizableModal">
                        <div class="{{{class}}}">
                            <i class="{{{icon}}}"></i>
                        </div>
                        <div class="{{{class}}}">
                            {{{ text }}}
                        </div>
                    </button>

                {{/anomalyListToolbarItems}}
            </div>
        </div>
    </div>
</nav>

<script>
    $('#anomaliesList').ready(function () {
        $('body').addClass('page-bg');
        $('html').addClass('page-bg');

        // onclick listener for the bulk update button
        $("#showBulkUpdate").click(function () {
            $("#splitCodingModalanomaliesList").modal();
        });

        var filterGlobal = function (searchValue) {
            console.error('search string ' + searchValue);
            $("#anomaliesList").DataTable().search(
                this.searchValue
            ).draw();
        };

        initAnomaliesDataTable();
    });
</script>
