<div class="row">
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-body">
                <span class="text-danger">
                  Progress 1
                  <span class="label label-danger pull-right">9%</span>
                </span>
                <div class="progress progress-sm">
                    <div class="progress-bar progress-bar-danger" style="width:9%;"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-body">
                <span class="text-warning">
                    Progress 2
                    <span class="label label-warning pull-right">80%</span>
                </span>
                <div class="progress progress-sm">
                    <div class="progress-bar progress-bar-warning" style="width:80%;"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-body">
                <span class="text-primary">
                    Progress 3
                    <span class="text-primary pull-right">78%</span>
                </span>
                <div class="progress progress-sm">
                    <div class="progress-bar progress-bar-primary" style="width:78%;"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-body">
                <span class="text-success">
                    Progress 4
                    <span class="label label-success pull-right">+ 13%</span>
                </span>
                <div class="progress progress-sm">
                    <div class="progress-bar progress-bar-success" style="width:13%;"></div>
                </div>
            </div>
        </div>
    </div>
</div>
