<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
                <div class="btn-group">
                    <a  class="btn btn-sm btn-default" href="{{link.home-home}}"><i class="fas fa-arrow-left"></i> Back to Home</a>
                </div>
            <h1 class="page-header sg-custom-page-title">Atoms</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2 ">
            <div id="atomic">
                <a class="atoms" ></a>
            </div>
        </div>
        <div class="col-xs-8">
            <ul class="list-unstyled">
                <li class="h3">Atoms</li>
                <li class="form-group"> In chemistry, atoms are the basic building blocks of matter.  Then have distinct properties and cannot be broken down further without losing their meaning.</li>
                <li class="form-group"> Translated to user interfaces, <strong>atoms are basic tags</strong>, such as form labels, input fields, or buttons.  They also include more abstract elements like colors, fonts, and animations</li>
                <li class="form-group">Atoms are absract and aren't terribly useful on their own, but do provide a useful reference and allow you to see all your global styles laid out at a glance.</li>
            </ul>
            <ol class="breadcrumb text-center">
                <li class="active">Atoms</li>
                <li><a href="{{link.home-about-molecules}}">Molecules</a></li>
                <li><a href="{{link.home-about-organisms}}">Organisms</a></li>
                <li><a href="{{link.home-about-templates}}">Templates</a></li>
                <li><a href="{{link.home-about-pages}}">Pages</a></li>
            </ol>
        </div>
    </div>
</div>

