{{> organisms-navbar(extraClass":"navbar-fixed-top")}}
{{> organisms-secondary-navbar("extraClass":"navbar-fixed-top", "pageTitle": "Password Format Settings","hideNextPreviousButtons": true)}}

<div class="container-fluid  page-top-padding">
  <div class="panel panel-default">
    <div class="panel-body">
      <form>
        <div class="row">
          <div class="col-xs-6">
            <div class="form-group">
                <label class="control-label">
                  Password Length
                  <a class="fas fa-question-circle text-muted" href="#nogo;" data-container="body" data-content="Minimum password length is 8 characters" data-toggle="popover" data-trigger="focus" data-placement="right" data-animation="false"></a>
                </label>
                <input type="text" value="8" class="form-control" placeholder="">
            </div>
            <div class="form-group">
              <label class="control-label">
                  Number of Numeric Characters
                  <a class="fas fa-question-circle text-muted" href="#nogo;" data-container="body" data-content="Minimum number of digit characters.  Default minimum is 1" data-toggle="popover" data-trigger="focus" data-placement="right" data-animation="false"></a>
                </label>
              <input type="text" value="1" class="form-control" placeholder="">
            </div>
            <div class="form-group">
              <label class="control-label">
                  Number of Uppercase Characters
                  <a class="fas fa-question-circle text-muted" href="#nogo;" data-container="body" data-content="Minimum number of uppercase characters.  Default minimum is 1" data-toggle="popover" data-trigger="focus" data-placement="right" data-animation="false"></a>
                </label>
              <input type="text" value="1" class="form-control" placeholder="">
            </div>
            <div class="form-group">
              <label class="control-label">
                  Number of Lowercase Characters
                  <a class="fas fa-question-circle text-muted" href="#nogo;" data-container="body" data-content="Minimum number of lowercase characters.  Default minimum is 1" data-toggle="popover" data-trigger="focus" data-placement="right" data-animation="false"></a>
                </label>
              <input type="text" value="1" class="form-control" placeholder="">
            </div>
          </div>
          <div class="col-xs-6">
            <div class="form-group">
              <label class="control-label">
                  Number of Special Characters
                  <a class=" fas fa-question-circle text-muted" href="#nogo;" data-container="body" data-content="Minimum number of special characters.  Default minimum is 1" data-toggle="popover" data-trigger="focus" data-placement="right" data-animation="false"></a>
                </label>
              <input type="text" value="1" class="form-control" placeholder="">
            </div>
            <div class="form-group">
              <label class="control-label">
                  Days Before Password Expiry
                  <a class="fas fa-question-circle text-muted" href="#nogo;" data-container="body" data-content="The number of days before a password expires.  Default is 365" data-toggle="popover" data-trigger="focus" data-placement="right" data-animation="false"></a>
                </label>
              <input type="text" value="365" class="form-control" placeholder="">
            </div>
            <div class="form-group">
              <label class="control-label">
                  Password Reuse
                  <a class="fas fa-fw fa-question-circle text-muted" href="#nogo;" data-container="body" data-content="The number of passwords before reuse is allowed.  Default is 3" data-toggle="popover" data-trigger="focus" data-placement="right" data-animation="false"></a>
                </label>
              <input type="text" value="3" class="form-control" placeholder="">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
              <a type="submit" class="btn btn-success pull-right" href="#nogo;">Save</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
    $('body').addClass('page-bg');
</script>
