{{> organisms-navbar("extraClass":"navbar-fixed-top animated")}}
{{> organisms-secondary-navbar("showBackButton":false,"hideNextPreviousButtons":true, "showConfigureButton":true, "extraClass":"navbar-fixed-top animated", "pageTitle":"OpenInvoice Service Account Dashboard")}}
{{> templates-slide-in-panel("showSlideInPanelTriggers": false, "slideInPanelTitle":"Available Widgets", "slideInPanelContent":"pages-openInvoice-dashboard-widgets") }}
<div id="openInvoiceDashboard" class="container-fluid animated page-top-padding">
    <div id="content-wrapper">
        <div class="row">
            <div class="col-xs-12">
                <fieldset>
                    <legend class="text-muted small">For Approvers</legend>
                </fieldset>
            </div>
        </div>
        <div class="row display-flex">
            <div class="col-sm-4">
                <div class="panel panel-default status-panel ">
                    <div class="panel-heading hide-overflow">
                        <div class="panel-title">
                            AFE 88215 Accumulated Spend
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="panel-body">
                        {{>templates-gauge-chart('hideRandomizeButton':true)}}
                        <div class="text-muted small">(Track spend against a known maximum)</div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4" >
                <div class="panel panel-default status-panel ">
                    <div class="panel-heading hide-overflow">
                        <div class="panel-title">
                            AFE 8795 Accumulated Spend
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="lead">
                            <!-- <div id="afe8795ExpenditureChart"></div> -->
                            <div class="h1">
                                <small>USD</small> 345,087.45
                                <div class="small text-success">
                                    <small class="text-success">
                                        <i class="far fa-long-arrow-alt-up fa-fw text-success"></i>
                                        <span class='text-success'> 5,087.45 in the last 7 days </span>
                                    </small>
                                </div>

                            </div>
                        </div>

                        <div class="text-muted small">(Track total spend to date)</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <fieldset>
                    <legend class="text-muted small">For Administrators</legend>
                </fieldset>
            </div>
        </div>

        <div class="row display-flex">
            <div class="col-sm-6">
                <div class="panel panel-default status-panel ">
                    <div class="panel-heading hide-overflow">
                        <div class="panel-title">
                            Average Processing Times
                            <div class="clearfix"></div>
                            <small class="text-muted"><small>Average days from service date to approval date</small></small>
                        </div>
                    </div>
                    <div class="panel-body">
                        {{> templates-stacked-bar-chart }}
                    </div>
                </div>
            </div>
            <div class="col-sm-6" id="drop-target-right">
                <div class="panel panel-default status-panel ">
                    <div class="panel-heading hide-overflow">
                        <div class="panel-title">
                            PriceBook Compliance
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="panel-body">
                        {{> templates-donut-chart }}
                    </div>
                </div>
        </div>
    </div>
</div>
<script>
    $('body').addClass('page-bg');
</script>
