<div class="container-fluid">
    <form>
         {{#showAttachAFileButton}}
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-12">
                        <button class="btn btn-default">Attach a File</button>
                    </div>
                </div>
            </div>
        {{/showAttachAFileButton}}


        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default attachment-panel">
                   <div class="media">
                        <div class="media-left media-middle well well-sm">
                            <div class="media-object">PNG</div>
                        </div>
                        <div class="media-body media-middle well-sm">
                            <div class="media-heading">Attachment1.png</div>
                            <div class="small text-muted">395.5 KB</div>
                        </div>

                        <div class="media-right media-middle">
                            <a class="btn btn-block" href="#nogo">
                                <i class="fas fas fa-trash-alt fa-fw"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="panel panel-default attachment-panel">
                   <div class="media">
                        <div class="media-left media-middle well well-sm">
                            <div class="media-object">PDF</div>
                        </div>
                        <div class="media-body media-middle well-sm">
                            <div class="media-heading">Attachment2.pdf</div>
                            <div class="small text-muted">892.4 KB</div>
                        </div>

                        <div class="media-right media-middle">
                            <a class="btn btn-block" href="#nogo">
                                <i class="fas fas fa-trash-alt fa-fw"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
