<div class="input-group" >
    <input type="text" class="form-control" {{disabled}}>
    <span class="input-group-btn">
        <button type="button" class="btn btn-default" id="input-group-molecule-button" {{disabled}}>
            <i class="fas fa-search"></i>
        </button>
    </span>
</div>
